Repository semicolon-devteam/cm-introduction-new: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

🗑️ Remove unnecessary posts pages
  src/app/posts/[id]/edit/page.tsx
  src/app/posts/[id]/page.tsx
  src/app/posts/_api-clients/implementations/next-posts.service.ts
  src/app/posts/_api-clients/implementations/spring-posts.service.ts
  src/app/posts/_api-clients/index.ts
  src/app/posts/_api-clients/interfaces/posts.interface.ts
  src/app/posts/_api-clients/posts.client.ts
  src/app/posts/_components/PostDetail.tsx
  src/app/posts/_components/PostForm.tsx
  src/app/posts/_components/PostsEmptyState.tsx
  src/app/posts/_components/PostsErrorState.tsx
  src/app/posts/_components/PostsFilter.tsx
  src/app/posts/_components/PostsHeader.tsx
  src/app/posts/_components/PostsList.tsx
  src/app/posts/_components/PostsLoadingState.tsx
  src/app/posts/_components/__tests__/PostsEmptyState.test.tsx
  src/app/posts/_components/__tests__/PostsHeader.test.tsx
  src/app/posts/_components/index.ts
  src/app/posts/_hooks/__tests__/usePosts.test.ts
  src/app/posts/_hooks/index.ts
  src/app/posts/_hooks/usePost.ts
  src/app/posts/_hooks/usePosts.ts
  src/app/posts/_repositories/__tests__/posts.repository.test.ts
  src/app/posts/_repositories/index.ts
  src/app/posts/_repositories/posts.repository.ts
  src/app/posts/new/page.tsx
  src/app/posts/page.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

🗑️ Remove unnecessary posts API routes
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

✨ #0 Add Hero section with Big Bang animation
  docs/hero.excalidraw
  package-lock.json
  package.json
  src/app/page.tsx
  src/components/organisms/SemicolonHero.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

✨ #0 Replace SEMICOLON text with CI logo SVG images
  public/images/logo/logo-e.svg
  public/images/logo/logo-i-c.svg
  public/images/logo/logo-i-o.svg
  public/images/logo/logo-l.svg
  public/images/logo/logo-m.svg
  public/images/logo/logo-n.svg
  public/images/logo/logo-o.svg
  public/images/logo/logo-s.svg
  public/images/logo/logo-semicolon.svg
  src/components/organisms/SemicolonHero.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

✨ #0 Improve hero animation: center light + semicolon spread
  src/components/organisms/SemicolonHero.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

✨ #0 Implement comet animation with long glowing tail
  src/components/organisms/SemicolonHero.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

✨ #0 Enhance hero animation with continuous particle emission
  src/components/organisms/SemicolonHero.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

🔨HERO 영역 수정
  src/components/organisms/SemicolonHero.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

✨ #0 Improve mobile UX: horizontal scroll for leader cards
  src/app/leaders/[slug]/page.tsx
  src/app/page.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

✨ #0 Update header with dark theme and logo image
  public/images/logo/header-logo.svg
  src/components/organisms/Header.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

🔨메뉴 가리기
  src/components/organisms/Header.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

✨ 문의폼 구현 및 resend연동
  .env.example
  package-lock.json
  package.json
  src/app/api/contact/route.ts
  src/app/contact/_components/ContactForm.tsx
  src/app/contact/page.tsx
  src/app/page.tsx
  src/components/atoms/Input.tsx
  src/components/atoms/Textarea.tsx
  src/components/molecules/LeaderCard.tsx
  src/components/organisms/Footer.tsx
  src/components/organisms/Header.tsx
  src/components/organisms/SemicolonHero.tsx
  tailwind.config.ts
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

✅ 테스트를위해 본메일로 등록
  src/app/api/contact/route.ts
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

🔥 Remove auto-set-epic-fields.yml workflow
  .github/workflows/auto-set-epic-fields.yml
Due: none

🔥 Remove bug-to-tasks.yml workflow
  .github/workflows/bug-to-tasks.yml
Due: none

🔥 Remove auto-create-branch-pr.yml workflow
  .github/workflows/auto-create-branch-pr.yml
Due: none

🔥 Remove auto-branch-pr-on-label.yml workflow
  .github/workflows/auto-branch-pr-on-label.yml
Due: none

🔥 Remove pr-auto-review.yml workflow
  .github/workflows/pr-auto-review.yml
Due: none

🔥 Remove pr-merged-status-update.yml workflow
  .github/workflows/pr-merged-status-update.yml
Due: none

🔥 Remove sync-project-status.yml workflow
  .github/workflows/sync-project-status.yml
Due: none

🔥 Remove status-command.yml workflow
  .github/workflows/status-command.yml
Due: none

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: npx prettier --write

✨ 기술력 페이지 신규 생성 및 UI 개선
  public/images/main/Logo.svg
  public/images/main/card-logo.png
  src/app/_components/JourneySection.tsx
  src/app/_components/PartnersSection.tsx
  src/app/_components/StatsSection.tsx
  src/app/_components/index.ts
  src/app/leaders/[slug]/page.tsx
  src/app/leaders/_components/RadarChart.tsx
  src/app/leaders/page.tsx
  src/app/page.tsx
  src/app/skills/_components/AICasesSection.tsx
  src/app/skills/_components/AICompetencySection.tsx
  src/app/skills/_components/CompetitivenessSection.tsx
  src/app/skills/_components/ContactSection.tsx
  src/app/skills/_components/HeroSection.tsx
  src/app/skills/_components/LeadershipSection.tsx
  src/app/skills/_components/SpecialOfferSection.tsx
  src/app/skills/_components/index.ts
  src/app/skills/page.tsx
  src/components/molecules/LeaderCard.tsx
  src/components/organisms/Footer.tsx
  src/components/organisms/Header.tsx
  src/components/organisms/SemicolonHero.tsx
  src/data/leaders.ts
  src/models/leader.ts
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

✨ 문의하기 페이지 전면 리뉴얼 및 UI 개선
  src/app/contacts/_components/ContactForm.tsx
  src/app/contacts/page.tsx
  src/app/skills/_components/AICasesSection.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

🎨 문의하기 페이지 로딩 UI 다크 테마 적용
  src/app/contacts/loading.tsx
  src/components/organisms/navigation.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

👥 참여구성원 정보 업데이트
  src/app/leaders/page.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

🖼️ 참여구성원 카드 배경 이미지 추가
  public/images/main/Group 22 (1) 1.png
Due: none

홈페이지 디자인 업데이트 및 애니메이션 개선
  public/images/partners/MAJU.jpg
  public/images/partners/매출지킴이.png
  public/images/partners/정치판.png
  public/images/partners/차곡.png
  public/images/partners/코인톡.png
  public/images/projects/디자인.jpg
  public/images/projects/세모.jfif
  public/images/projects/인프라.jfif
  public/images/projects/정치판.png
  public/images/projects/코어.png
  src/app/_components/HomeLeadersSection.tsx
  src/app/_components/JourneySection.tsx
  src/app/_components/PartnersSection.tsx
  src/app/_components/index.ts
  src/app/leaders/[slug]/page.tsx
  src/app/leaders/_components/ProjectsCarousel.tsx
  src/app/leaders/page.tsx
  src/app/page.tsx
  src/app/skills/_components/AICasesSection.tsx
  src/app/skills/_components/AICompetencySection.tsx
  src/app/skills/_components/CompetitivenessSection.tsx
  src/app/skills/_components/ContactSection.tsx
  src/app/skills/_components/HeroSection.tsx
  src/app/skills/_components/LeadershipSection.tsx
  src/app/skills/_components/SpecialOfferSection.tsx
  src/app/skills/page.tsx
  src/components/organisms/SemicolonHero.tsx
  src/data/leaders.ts
  src/models/leader.ts
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

누락된 Leaders 컴포넌트 파일 추가
  src/app/leaders/_components/LeadersCarousel.tsx
  src/app/leaders/_components/OtherLeadersCarousel.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

섹션 레이아웃 중앙 정렬 개선
  src/app/_components/JourneySection.tsx
  src/app/skills/_components/SpecialOfferSection.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

염현준(Yeomso) 프로필 이미지 추가
  public/images/leaders/yeomso.png
Due: none

AI 활용 사례 섹션에서 GPT-4를 Claude Code로 변경
  src/app/skills/_components/AICasesSection.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

홈페이지 콘텐츠 업데이트
  src/app/_components/JourneySection.tsx
  src/app/_components/PartnersSection.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

모바일 반응형 UI 개선: 텍스트 줄바꿈 및 카드 레이아웃 최적화
  src/app/_components/HomeLeadersSection.tsx
  src/app/_components/JourneySection.tsx
  src/app/_components/PartnersSection.tsx
  src/app/leaders/[slug]/page.tsx
  src/app/leaders/_components/LeadersCarousel.tsx
  src/app/leaders/_components/OtherLeadersCarousel.tsx
  src/app/leaders/page.tsx
  src/app/page.tsx
  src/app/skills/_components/AICompetencySection.tsx
  src/app/skills/_components/HeroSection.tsx
  src/components/organisms/Header.tsx
  src/data/leaders.ts
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

Skills 페이지 및 푸터 UI 수정
  src/app/skills/_components/ContactSection.tsx
  src/components/organisms/Footer.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

🐛 Fix: 빌드 에러 수정
  src/app/admin/layout.tsx
  src/app/api/contact/route.ts
  src/app/leaders/_components/CultureCard.tsx
  src/app/page.tsx
  src/components/organisms/CoreValuesSection.tsx
  src/components/organisms/ResultSection.tsx
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

feat: GitHub 연동 기능 추가 (운영 리포트)
  .env.example
  src/app/admin/reports/_components/GoalCard.tsx
  src/app/admin/reports/_components/IncidentSection.tsx
  src/app/admin/reports/_components/ProjectTabs.tsx
  src/app/admin/reports/_components/ReportPreview.tsx
  src/app/admin/reports/_components/TaskSection.tsx
  src/app/admin/reports/_components/index.ts
  src/app/admin/reports/goals/page.tsx
  src/app/admin/reports/layout.tsx
  src/app/admin/reports/operations/page.tsx
  src/app/admin/reports/page.tsx
  src/app/admin/reports/po/page.tsx
  src/app/admin/reports/revenue/page.tsx
  src/app/api/admin/reports/auth/route.ts
  src/app/api/admin/reports/bugs/route.ts
  src/app/api/admin/reports/github-status/route.ts
  src/app/api/admin/reports/submit/route.ts
  src/lib/github.ts
  src/middleware.ts
Due: npx tsc-files --noEmit, npx eslint --fix --quiet, npx prettier --write

Path conditions:
  npx tsc-files --noEmit: any of: *.{ts,tsx}
  npx eslint --fix --quiet: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  npx prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,css,scss})
